

html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.inspect-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /*margin: 20px;*/
    padding-top: 100px;
    /*padding: 100px 100px 100px 100px;*/
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
    /*overflow: hidden;*/


}



@media (max-width: 1400px) {
    .inspect-container {
        padding: 100px 5px 5px 5px;


    }
}

@media (max-width: 1350px) {
    .inspect-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

@media (max-width: 1350px) {
    .inspect-container .inspect-post-container {
        margin-right: 0px;
    }
}


.full-comment-container {
    width: 800px;
    height: auto;
    border: solid white 2px;
    border-radius: 20px;
}

.test-container {
    border-top: solid white 2px;
    width: auto;
    max-height: 600px;
    overflow-y: auto;
    /*border-radius: 20px;*/
}




.test-container::-webkit-scrollbar {
    width: 12px;
    margin-right: 5px;

}

/*.full-comment-container::-webkit-scrollbar-track {*/
/*    background: white; !* Track color *!*/
/*    border-radius: 10px; */
/*}*/

.test-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar color */
    border-radius: 10px;
    border: 2px solid #333; /* Optional: space around scrollbar thumb */

}

.inspect-post-container {
    margin-right: 250px;
}



.inspect-post {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 5px; /* Adjust margin as needed */
    position: relative;
    color: white;

}
.inspect-post-date {

    width: 120px;
    margin-left: 15px;
    padding: 5px;
}



.comment-form-container {
    background-color: transparent;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-submit {

    color: white;
    margin: 10px;
    background-color: blue;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    font-size: larger;
    border-radius: 5px;
    transition: ease-in-out .1s;
    border: none;
    /*position: fixed;*/

}

.comment-submit:hover {
    background-color: white;
    color: black;
}


.comment-input {
    max-height: 40px;
    min-height: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid grey;
    transition: ease-in-out .1s;
    color: white;
    min-width: 400px;
    max-width: 600px;
    font-size: large;
    margin-top: 50px;
    padding-left: 15px;



}

.comment-input:focus {
    outline: none;
    border-bottom: 2px solid white; /* Change color without moving */
    box-shadow: -2px 0 0 white;
    background-color: transparent;
    /*margin-left: 10px;*/

}

/* Default placeholder color */
.comment-input::placeholder {
    color: white;
    transition: color 0.2s ease-in-out;
}

/* Placeholder color on focus */
.comment-input:focus::placeholder {
    color: grey;
}

.comment-container {
    width: auto;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.comment-data {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding-bottom: 5px;
    /*border-top: 2px solid black;*/
    /*border: 2px solid grey;*/
    margin-top: 40px;
    margin-bottom: 60px;
}

.comment-username {
    /*margin: 10px 20px 0 20px;*/
}

.comment-date {
    /*margin: 10px 20px 0px 20px;*/
}

.comment-box {
    /*border: 2px solid blue;*/
    margin-left: 30px;
    margin-top: 10px;
    /*height: 50px;*/
    padding-left: 20px;
    /*background-color: grey;*/
    /*border: 1px solid ;*/
    color: white;
}

.edit-comment-button {
    margin: 10px 10px 5px 10px;
    background-color: white;
    color: black;
    /*border-radius: 5px;*/
    width: 50px;
    transition: ease-in-out .2s;
    padding: 5px;


}

.edit-comment-button:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;

}

.comment-edit-date {
    margin: 10px 20px 0px 20px;

}

.vote-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.vote-count {
    width: 50px;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-button {
    background-color: transparent;
    color: white;
    /*padding: 0px;*/
    border-radius: 50%;
    font-size: large;
    box-shadow: none;
    border: none;
    transition: ease-in-out .1s;
    margin: 5px;
}



.vote-button:hover {
    cursor: pointer;
    color: orange;
    /*box-shadow:  1px 1px 1px black ;*/
    /*background-color: transparent;*/
}


.vote-button.voted {
    color: green;

}

/* Styling for voted down */
.vote-button.voted[data-value="0"] {
    color: red;

}

.comment-profile-picture {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px; /* Make the image circular */
    overflow: hidden; /* Hide overflow if the image is too large */
    display: flex; /* Center image */
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.comment-profile-picture img {
    width: 100%; /* Scale the image to fill the container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
}


/*my comments/show comments page*/

.my-comment-container {
    border: 2px solid white;
    width: 800px;
    color: white;
    height: 400px;
}

.my-comment-data {
    display: flex;
    flex-direction: row;

}

.my-comment-username,
.my-comment-date,
.my-comment-edit {
    display: flex;
    align-items: center;
    /*border: 2px solid white;*/
    height: 40px;
    width: 150px;
    margin-left: 20px;

}