

.followed-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.followed-post {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    border: 2px solid white;
    /*margin-right: 50px;*/
    /*margin-left: 50px;*/
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}


.follow-post-title {
    font-size: 20px;
    color: white;
    margin: 5px 20px 0px 20px;
    border-bottom: 3px solid white ;

    padding-top: 20px;
    padding-bottom: 10px;
    transition: ease-in-out .2s;
    border-radius: 4px;
}

.follow-post-text {
    font-size: small;
    word-wrap: break-word;
    border-left: 2px solid  grey;
    margin: 20px;
    padding: 10px;
    color: white;
    height: 100%;
}


.follow-post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.follow-postedBy {
    font-size: 14px;
    color: lightgray;
    padding: 5px;
    text-decoration: underline;
    margin-right: 15px;
}
.follow-post-date {
    color: white;
    margin: 5px;
    margin-left: 10px;
}

.container-for-all {
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    /*height: 200px;*/
    width: 100vw;
}

.big-post-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 500px;
}

.user-information-container {
    width: 250px;
    height: 500px;
    background-color: lightgreen;
    padding: 20px;
    margin-left: 200px;
    margin-top: 50px;
    position: fixed;

}

.user-information {
    border: 2px solid black;
    margin-top: 5px;
    padding: 2px;
}