


.post-title {
    color: white;
    padding: 5px;
}

.post-content {

    width: 300px;
    padding: 10px;
    height: 50px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 2px solid white;
    /*margin-right: 50px;*/
    /*margin-left: 50px;*/
    margin: 5px;
    margin-bottom: 50px;
    position: relative;

}

.inspect-link {
    text-decoration: none;
}

.title-data {
    font-size: 20px;
        color: white;
    margin: 10px;

    border-bottom: 5px solid white ;
    text-indent: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: ease-in-out .2s;
    border-radius: 5px;

}

.title-data:hover {
    background-color: grey;
    /*color: black;*/
    border-bottom: 5px solid lightgreen;
}

.text-data {
    font-size: small;
    word-wrap: break-word;
    border: 2px dotted  grey;
    margin: 20px;
    padding: 10px;
    color: white;

}




.home-post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 10px;


}
.homePostedBy {
    font-size: 14px;
    color: lightgray;
    padding: 5px;
    text-decoration: underline;
    margin-right: 15px;
}

.home-post-date {
    color: white;
    margin: 5px;
    margin-left: 10px;
}



