
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.80);
}

.welcome-text {
    float: right;
}




.page-title-home {
    /*background-color: white;*/
    display: flex;
    justify-content: center;
    margin: 20px;


}

.page-title-home h1{
    color: white;
    /*margin-left: 50%;*/
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;

}


.home-container {

    display: flex;
    justify-content: center;
    align-items: flex-start;
}



.home-main-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}

.home-main {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;



}

.search-bar {
    /*margin-left: 275px;*/
    width: 1280px;
    margin-top: 50px;


}

.search-input {
    width: 200px;
}



.post-main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}


.post-main input, textarea {
    width: 200px;
    height: 40px;
}



.login-main input, label {
    margin: 5px;
    display: block;
}

.login-main label {

    color: white;
}



.home-main-buttons {
    display: flex;
    height: 30px;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    transition: ease-in-out .2s;
    border-radius: 5px;
    margin-right: 5px;
}

.home-main-buttons:hover {
    background-color: white;
    color: black;
}


.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 800px;
    align-items: center;
    margin-left: 200px;


}

.my-posts-button:hover {
    background-color: red;
    color: black;
}


#following-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    text-align: center;
    width: 200px;
    margin-left: 50px;
    border-radius: 10px;
    border: 2px solid black;
    opacity: 1;
    transition: ease-in-out .2s;
}
