{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/secret.css') }}">
{% endblock %}



{% block body %}

<div class="secret-container">
    <div class="left-container">
        {% for i in 1..5 %}
            <div class="box-container">test</div>
        {% endfor %}

    </div>

</div>


{% endblock %}