{% extends 'base.html.twig' %}


{% block title %} 'Welcome Home' {% endblock %}


{% block body %}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

    <div class="home-main">
        <h1>DIT IS EEN PAGINA</h1>
        <a href="#"> POST</a>

        <input type="text">

    </div>
{% endblock %}